@import url('https://fonts.googleapis.com/css?family=Catamaran|Josefin+Sans');
#editor {
    overflow:scroll;
    min-height:380px;
}

#banner {
    background: no-repeat 70% center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}

.overlay-fade {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.6)
    );
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;

}

.carousel-inner .item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  -webkit-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  -webkit-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
  z-index:2;
}

.banner1 {
    background: url("../img/carousel1.jpg") no-repeat 70% center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    /*filter: saturate(150%);
    filter: contrast(110%);
    filter: blur(3px);*/
}

.banner2 {
    background: url("../img/carousel4.jpg") no-repeat 70% center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    /*filter: saturate(150%);
    filter: contrast(110%);
    filter: blur(3px);*/
}

.banner3 {
    background: url("../img/carousel2.jpg") no-repeat 70% center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    /*filter: saturate(150%);
    filter: contrast(110%);
    filter: blur(3px);*/
}

.overlay-header {
    position: absolute;
    height: 30vh;
    width: 100%;
    top: 70vh;
    z-index: 11;
}

.overlay-crest {
    position: absolute;
    bottom: 2vmin;
    left: 5vmin;
    height: 12vmin;
}

.overlay-h1 {
    position: absolute;
    bottom: 3vmin;
    left: 17vmin;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vmin;
    color: white;
}

.overlay-h2 {
    position: absolute;
    bottom: 8vmin;
    left: 18vmin;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vmin;
    color: white;
}

.login-dropdown {
    padding: 10px;
}

.login-dropdown-spacing {
    margin-top: 10px;
}

.filler {
    font-family: 'Josefin Sans', sans-serif;
}

div.filler {
    font-size: 1.5em;
}

.profile-pic {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content-img {
    width: 100%;
}

.content-fadecomment {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3)
    );
    height:100%;
}

.reading-width {
    max-width: 600px;
}

@media (max-width: 480px) {
    .parallax-img {
        background-size: auto 300px;
        background-position: center;

    }
    .spacing {
        margin: 0; min-height: 100px;
    }
}
@media (min-width: 481px) {
    .parallax-img {
        background-attachment: fixed !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .spacing {
        margin: 0; min-height: 50vh;
    }
}



.admin-button {
    float: right;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: initial;
}

.navbar {
    margin: 0;
}

.navbar-dark .navbar-toggle .icon-bar {
    background-color: black;
}

.glyphicon-circle-arrow-up {
    margin-left: 10px;
}

.title {
    text-align: center;
}

.blog-row {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    align-content: center;
    flex-basis: auto; /* default value */
    flex-grow: 1;
}

.blog-post {
    box-sizing: border-box;
    padding: 20px;
    flex: 1;
    margin-left: 1%;
    margin-right: 1%;
}

@include max-width(992px) {
    .blog-post {
        flex-basis: 58%;
    }
}

@include max-width(640px) {
    .blog-post {
            flex-basis: 68%;
        }
}

.blog-tag {
    text-align: center;
}
