{% extends 'layout.html' %}

{% block content %}
    {% if page_content is not none %}
    <div class="parallax-img" style="background-image: url('{{ url_for('static', filename=page_content['image_url']) }}');">
        {% if page_content['image_url'] != '' %}
        <div class="spacing" style="margin: 0; min-height: 50vh;"></div>
        {% endif %}

        <div class="container-fluid filler content-fade" style="background-color: white;">
            {% if is_admin == true %}
                <a class="admin-button" href="{{ url_for('content_editor', page=page_content['key']) }}#top">Edit content</a>
            {% endif %}
            <div class="row col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3" style="padding-top: 4vh; padding-bottom: 4vh;">

                {% if page_content is not none %}
                <h1 class="title">{{ page_content['title'] }}</h1><br/>
                <p>{{ page_content['content']|safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}